.img__noti {
  position: relative;
  width: 200px;
  height: 200px;
}

.img__movie {
  position: relative;
  width: 100%;
  height: 265px;
}

/* .footer__custom {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0f172a;
  z-index: 1000;
} */
