.img__noti {
  position: relative;
  width: 200px;
  height: 200px;
}

.img__movie {
  position: relative;
  width: 100%;
  height: 265px;
}

/* hiệu úng xuất hiện */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card_movie {
  animation: fadeIn 1s ease-in-out;
}
